*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
header{
    background-color: white;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
main{
    background-color: black;
    width: 100vw;
    height: 80vh;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    
}
.logo{
    width: 270px;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    color: black;
    border-radius: 20px;
    text-align: center;
}
h1{
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: rgb(209, 215, 220);
    border: none;
    text-align: center;
    color: black;
}
input::placeholder{
    color: black;
}
input:hover::placeholder{
    background-color: rgb(70, 73, 72);
    color: white;
}
button{
    background-color: rgb(209, 215, 220) ;
    border: none;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}
button:hover{
    background-color: rgb(70, 73, 72);
    color: white;
}
#resultado{
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
.vetores{
    width: 25px;
}
footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px

}
.logos{
    width: 20px;
}